Wczytujemy biblioteki

In [1]:
import pandas as pd
import numpy as np

Wczytujemy dane o powiatach

In [2]:
powiaty = pd.read_excel(io = "Powiaty.xls")
powiaty.head()

                   Powiaty   Id      X1_s  ...      X4_d      X5_d      X6_d
0               chodzieski  251  0.638029  ...  0.282360  0.536464  0.064824
1  czarnkowsko-trzcianecki  252  0.635018  ...  0.295556  0.512332  0.115621
2             gnieźnieński  253  0.571948  ...  0.308769  0.468553  0.246254
3                gostyński  254  0.707542  ...  0.362074  0.470871  0.077338
4                grodziski  255  0.645110  ...  0.412271  0.417134  0.141414

[5 rows x 8 columns]

1. Standaryzacja zmiennych zgodnie ze wzorem

$$
z_{ij} = \frac{x_{ij}}{\sqrt{\sum_{i=1}^n x_{ij}^2}}
$$

In [19]:
z_s=(powiaty[["X1_s", "X2_s", "X3_d", "X4_d", "X5_d", "X6_d"]]**2)**(1/2)
z_mianownik = z_s.sum(axis = 0)
z_mianownik

X1_s       21.450852
X2_s    64034.160000
X3_d        6.327000
X4_d       11.668822
X5_d       16.702309
X6_d        5.117419
dtype: float64

In [22]:
z = powiaty[["X1_s", "X2_s", "X3_d", "X4_d", "X5_d", "X6_d"]] / z_mianownik
z.head()

       X1_s      X2_s      X3_d      X4_d      X5_d      X6_d
0  0.029744  0.025749  0.036510  0.024198  0.032119  0.012667
1  0.029603  0.028115  0.039197  0.025329  0.030674  0.022594
2  0.026663  0.028128  0.036668  0.026461  0.028053  0.048121
3  0.032984  0.028348  0.030662  0.031029  0.028192  0.015113
4  0.030074  0.026719  0.019124  0.035331  0.024975  0.027634

2. Wyznaczamy wartości dla obiektów idealnych i antyidelanych

In [30]:
obiekt_idealny = [max(z.X1_s), max(z.X2_s), min(z.X3_d), min(z.X4_d), min(z.X5_d), min(z.X6_d)]
obiekt_antyidealny = [min(z.X1_s), min(z.X2_s), max(z.X3_d), max(z.X4_d), max(z.X5_d), max(z.X6_d)]

print(obiekt_idealny)
print(obiekt_antyidealny)

[0.03791226822644914, 0.03923109165482924, 0.010905642484589851, 0.020814156529841768, 0.020878709685617336, 0.012667408253809955]
[0.01006457993643032, 0.021179320537663027, 0.04409672830725461, 0.03533097374500791, 0.0360904127622585, 0.09635014635061602]

3. Obliczamy odległości $d_i^{+}$ i $d_{i}^{-}$

In [50]:
## 
d_plus = np.sqrt( ((z - obiekt_idealny)**2).sum(axis = 1) )
d_minus = np.sqrt( ((z - obiekt_antyidealny)**2).sum(axis = 1) )
d_plus.head()

0    0.032278
1    0.034754
2    0.047475
3    0.026398
4    0.027149
dtype: float64

4. Oblicamy

In [55]:
powiaty["d_minus"] = d_minus
powiaty["d_plus"] = d_plus
powiaty["R"] = d_minus / (d_minus+d_plus)
powiaty.sort_values(by = "R",  ascending = False, inplace=True)
powiaty.head(10)

          Powiaty   Id      X1_s  ...   d_minus    d_plus         R
20      poznański  275  0.813250  ...  0.083991  0.016678  0.834329
33         Leszno  266  0.614669  ...  0.085591  0.019424  0.815033
17  ostrzeszowski  271  0.640974  ...  0.089394  0.020917  0.810379
12    leszczyński  265  0.715630  ...  0.086913  0.020779  0.807053
23    szamotulski  277  0.636074  ...  0.085585  0.021036  0.802707
28    wolsztyński  280  0.757820  ...  0.088220  0.022462  0.797061
25        śremski  285  0.617139  ...  0.086958  0.023497  0.787268
24        średzki  284  0.652566  ...  0.088020  0.024220  0.784216
21        rawicki  276  0.650416  ...  0.085938  0.023682  0.783962
34         Poznań  274  0.603762  ...  0.078782  0.021965  0.781982

[10 rows x 11 columns]